yellow{
  color:yellow;
}
red{
  color:red;
}
blue{
  color:#017FFF;
}
green{
  color:#0f0;
}
dgreen{
  color:green;
}
orange{
  color:orange;
}
purple{
  color:purple;
}
cyan{
  color: Cyan;
}
white{
  color:#fff;
}
black{
  color:#000;
}
coper{
  color:#00CDF9;
}

carg{
  color:#DD00EE;
}

info{
  display:block;
  color:orange;
  padding-left:3%;
}

oper{
  color:#00CDF9;
  font-size:1.5rem;
}

args{
  color:#BB00EE;
  font-size:1.5rem;
}

block{
  display:block;
  padding-left:6%;
}

var{
  color: LightSteelBlue;
}

func{
  color:rgb(0,220,220);
  font-size:130%;
}

str{
  color: #D06538;
}

pre{
  font-family:sans;
  font-size:1rem;
  text-overflow: clip;
  word-break: break-word;
  white-space: pre;
}

t{
  text-decoration:underline;
}

table,
tr,
th,
td,
thead,
tbody {
    border: 0 !important;
    background: transparent !important;
}